@model IEnumerable<CharityEngine_Q1.Models.VehicleModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.VehiceRegistrationNumber)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.OwnerName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.OwnerPhoneNumber)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.OwnerUnitNumber)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.OwnerAppartementNumber)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.VehiceMake)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.VehiceModel)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.VehiceColor)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.VehiceRegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(model => item.OwnerPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.OwnerUnitNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.OwnerAppartementNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.VehiceMake)
            </td>
            <td>
                @Html.DisplayFor(model => item.VehiceModel)
            </td>
            <td>
                @Html.DisplayFor(model => item.VehiceColor)
            </td>
            <td>
                @Html.DisplayFor(model => item.RegistrationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VehiceRegistrationNumber }))
            </td>
        </tr>
    }

</table>